body{
    margin: 0;
    padding: 0;
    /* text-align: center; */
    padding: 0 0;
    background-color: #212121;
    color: white;
}
.video-frame{
    /* height: 500px; */
    width: max-content;
    border-radius: 10px;
    /* border: 10px solid grey; */
    /* width: 1100px; */
    /* height: 620px; */
}
button{
    margin: 10px;
    cursor: pointer;
}

.vdiv-1 .vdiv-2{
    margin: 0;
    padding: 0;
}

.vdiv-1{
    height: 620px;
    width: 50%;
}

.vdiv-2{
    max-height: 42vw;
    overflow-y: scroll;
    scrollbar-width: none;
}

.vdiv-2::-webkit-scrollbar{
    display: none;
}

.remote-video{
    width: 100%; 
    border-radius: 10px;
}

#footer {
    background: rgb(206, 176, 176);
    line-height: 2;
    text-align: center;
    color: #042E64;
    /* font-size: 30px; */
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 0 1px 0 #84BAFF;
    box-shadow: 0 0 15px #00214B 
}